In [36]:
import pandas as pd
import matplotlib.pyplot as plt

file = pd.ExcelFile('basedados.xlsx')
print(file.sheet_names)

data = file.parse(0)

# Mostrando as 5 primeiras linhas do dataset
data.head()

# Primeiro, precisamos saber com o que exatamente estamos trabalhando, logo, devemos abrir o dataset disponibilizado
# para termos real noção do que se trata.

# Agora aberto, podemos ver o que as colunas representam e seus respectivos valores. Com isso podemos facilmente ver que
# o dataset se trata das informações sobre sorteios de MegaSenas, que tais sorteios ocorrem semanalmente, e que a quantia
# de ganhadores de sena é muito menor que a de ganhadore de Quina, que por sua vez é muito menor que Ganhadores de Quadra.

['MegaSena']

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0

In [110]:
# Geramos as informações gerais do dataset
print(data.info())

print("\nPrimeira MegaSena a ocorrer:", data['Data Sorteio'].iloc[0])
print("Mais recente MegaSena a ocorrer:", data['Data Sorteio'].iloc[-1])

# Com estas novas informações, agora descobrimos que o dataset contém registro de TODAS as MegaSenas que ocorreram
# desde seu início até a publicação do dataset em questão. Também sabemos agora quando ocorreu a primeira MegaSena.
# 11 de março de 1996
# de Março de 1996 para Março de 2018, também sabemos que se passaram mais de 22 anos!

# Houveram 2025 sorteios de lá pra cá!! Dá pra acreditar?!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2025 entries, 0 to 2024
Data columns (total 18 columns):
Concurso             2025 non-null int64
Data Sorteio         2025 non-null datetime64[ns]
Dezena1              2025 non-null int64
Dezena2              2025 non-null int64
Dezena3              2025 non-null int64
Dezena4              2025 non-null int64
Dezena5              2025 non-null int64
Dezena6              2025 non-null int64
Arrecadacao_Total    2025 non-null float64
Ganhadores_Sena      2025 non-null int64
Rateio_Sena          2025 non-null float64
Ganhadores_Quina     2025 non-null int64
Rateio_Quina         2025 non-null float64
Ganhadores_Quadra    2025 non-null int64
Rateio_Quadra        2025 non-null float64
Acumulado            2025 non-null object
Valor_Acumulado      2025 non-null float64
Estimativa_Prêmio    2025 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(11), object(1)
memory usage: 380.6+ KB
None

Primeira MegaSena a ocorrer: 1996-03-11 00:00:00
Mais recente MegaSena a ocorrer: 2018-03-24 00:00:00

In [54]:
print("A média de ganhadores da Sena é:", data['Ganhadores_Sena'].mean())
print("A média de ganhadores da Quina é:", data['Ganhadores_Quina'].mean())
print("A média de ganhadores da Quadra é:", data['Ganhadores_Quadra'].mean())

# Como no início vimos somente as 5 primeiras MegaSenas, estávamos apenas supondo sobre sobre as informações, gerais.
# Porém, nesta célula, mostramos que é muito mais raro alguém ganhar a Sena do que a Quina, e é muito mais fácil alguém
# ganhar a Quina do que a Quadra.

A média de ganhadores da Sena é: 0.3412345679012346
A média de ganhadores da Quina é: 112.9753086419753
A média de ganhadores da Quadra é: 7281.367901234568

In [ ]:
# Considerando a repercussão que a MegaSena possui, e a quanto tempo ainda se mantém de pé, muito provavelmente
# eles devem ganhar bastante dinheiro com os sorteios Acumulados.

In [57]:
# Considerando a repercussão que a MegaSena possui, e a quanto tempo ainda se mantém de pé, muito provavelmente
# eles devem ganhar bastante dinheiro com os sorteios Acumulados.

acumulados = 0
for i in data.Acumulado:
    if i == "SIM":
        acumulados = acumulados + 1
# Declaramos a variável concurso para receber a quantidade de concursos que houveram        
concursos = len(data.Concurso)

print(acumulados)
print(int (acumulados*100/concursos), "%")

# Agora vemos claramente que existe muitaaaa vantagem para quem organiza a MegaSena.
# Aproximadamente, apenas 1 a cada 4 sorteios possui um ganhador para a Sena, nos outros 3, a empresa recebe um lucro
# multi-milionário.

1548
76 %

In [63]:
# Neste célula analisamos o quanto de dinheiro a empresa organizadora da MegaSena teve de pagar aos ganhadores
# ao longo de seus anos de existência.
valor_Sena = 0
valor_Quina = 0
valor_Quadra = 0

for i, valor in enumerate(data.Ganhadores_Sena):
    valor_Sena = valor_Sena + (valor * data.Rateio_Sena[i])
    
for i, valor in enumerate(data.Ganhadores_Quina):
    valor_Quina = valor_Quina + (valor * data.Rateio_Quina[i])
    
for i, valor in enumerate(data.Ganhadores_Quadra):
    valor_Quadra = valor_Quadra + (valor * data.Rateio_Quadra[i])
    
print("Distribuíram ", int (valor_Quadra), " reais no total para ganhadores da Quadra.\n")
print("Distribuíram ", int (valor_Quina), " reais no total para ganhadores da Quina.\n")
print("Distribuíram ", int (valor_Sena), " reais no total para ganhadores da Sena.\n")

custo_total = valor_Quadra + valor_Quina + valor_Sena
print("Ou seja, tiveram um custo total de: ", int(custo_total), " de reais")

# Podemos ver que ao longo dos seus 22 anos de existência, a MegaSena premiou uma quantia muito alta de dinheiro.

Distribuíram  5153872752  reais no total para ganhadores da Quadra.

Distribuíram  4005254754  reais no total para ganhadores da Quina.

Distribuíram  12085571422  reais no total para ganhadores da Sena.

Ou seja, tiveram um custo total de:  21244698928  de reais

In [72]:
# Como 21 bilhões e 240 milhões é um valor incrivelmente alto, me perguntei se a MegaSena realmente saía no lucro,
# ou se ela na verdade ganhava pouco.
# Resultado? Não podia estar mais enganado!

# Aqui faço a contagem do quanto a MegaSena ganhou em todos os sorteios.
acumulado_valor = 0
for i in data.Valor_Acumulado:
    acumulado_valor = acumulado_valor + i
    
print(int(acumulado_valor))

lucro = acumulado_valor - custo_total
print(int(lucro))
# Ao subtrairmos o valor de ganho total da MegaSena, com o valor de custo total, ou seja, o tanto de dinheiro que
# a empresa premiou á ganhadores, obtivemos o lucro total da empresa.

# O qual pudemos que perceber que era nada mais nada menos do que em torno de 3 bilhões e 730 milhões de reais, de LUCRO.
int(lucro/22)
# Mesmo que dividíssemos esse valor nos 22 anos, ainda seriam mais de 169 milhões por ano, apenas por gerenciarem aposas KKKKKKKKKKK.

24977500438
3732801510

169672795

In [109]:
# Para os superticiosos, podemos tentar analisar quais os números que saíram com mais frequência nos sorteios.

cols = ['Dezena1','Dezena2','Dezena3','Dezena4','Dezena5','Dezena6'] 
dezenas = data[cols]

dezenas = dezenas.unstack().value_counts()

# E então achamos os 6 números mais sorteados de todos os sorteios.

seis_maiores_frequencias = dezenas[0:6]
print(seis_maiores_frequencias)
print("\n")
# Caso você seja supersticioso, e acredite que ao usar os 6 números mais frequentes vocẽ terá mais chance,
# então o recomendo que aposte nos números: 5, 53, 10, 23, 4, 54.

seis_menores_frequencias = dezenas[-6:]
print(seis_menores_frequencias)
# E caso acredite que os 6 menos usados dão azar,
# aconselho-o a jamais apostar nos númeors: 9, 15, 21, 22, 55, 26

5     233
53    230
10    227
23    224
4     224
54    221
dtype: int64


9     183
15    183
21    178
22    177
55    174
26    164
dtype: int64

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
2020,2021,2018-03-10,32,37,40,60,7,14,61453154.0,0,0.00,101,35079.74,6982,724.93,SIM,45026259.92,52000000
2021,2022,2018-03-14,28,60,52,45,4,48,64651783.0,0,0.00,79,47183.15,6343,839.50,SIM,51892650.46,60000000
2022,2023,2018-03-17,23,56,8,7,1,6,73781900.5,2,29864355.95,217,19603.05,13622,446.11,NÃO,0.00,3000000
2023,2024,2018-03-21,29,16,20,35,47,23,25175416.0,0,0.00,45,32255.05,3221,643.75,SIM,21284448.74,25000000
2024,2025,2018-03-24,52,56,4,24,46,55,43865881.5,0,0.00,53,47718.26,3730,968.62,SIM,25943257.19,30000000